.Bottom {
  height: 45px;
  width: 100%;
  background-color: gainsboro;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  bottom: 0px;
  padding: 3px 1px;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
}

.bottomIconlink{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* border: 0.5px solid red; */
    text-align: center;
}
.bottomIconlink p{
    font-size: 12px;
    color: black;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 0;
}

@media (min-width: 900px) {
  .Bottom{
    display: none;
  }
}
