.featuredHr{
    width: 35%;   
    margin: auto;
    border: 2px solid gray;
}
.Featuredtittle{
    font-weight: 700;
    font-style: italic;
    color: black;
    opacity: 0.7;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}
.bannerImg{
    width: 100%;
    flex-basis: 1;
}
.sellerdiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.seller{
    background-color: #232F3E;
    color: white;
    padding: 5px 12px;
    width: 50%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.seller h2{
    font-style: italic;
}
.sellerbtn{
    border: none;
    outline: none;
    color: grey;
    font-weight: 700;
    background-color: white;
    font-style: italic;
    border-radius: 3px;
}

@media (max-width:500px)
{
    .carousel-item img{
        min-height: 150px;
        width: 100%;
    }
    .prevNextBtn{
        height: 18px;
    }
    .featuredHr{
        width: 80%;
    }
}

@media (max-width:700px)
{
    .gg{
        border: 2px solid #bdbdbd;
        margin-right: 1px;
        margin-left: 1px;
        padding: 1px;
        border-radius: 5px;
        margin-top: -8px;
    }
    .sellerdiv{
        width: 100%;
    }
    .seller{
        width: 100%;
        font-size: 8px;
    }
    .sellerbtn{
        font-size: 8px;        
        color: black
    };
}