.paymentpage{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23px 10%;
}
.cardinfo{
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.68);
    padding: 23px 20px;
    /* padding-bottom: 5px; */
    /* margin-top: -60px; */
    border-radius: 8px;
    /* border: 1px solid rebeccapurple; */
}
.cardinfo h2{
    margin-top: -10px;
}
.cardInput{
    border: 1px solid gray;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
}
.cardInput input{
    border: none;
    outline: none;
    /* border: 1px solid red; */
}

@media (max-width:500px){
    .cardinfo{
        padding: 18px 15px;
    }
    .paymentpage{
        padding: 23px 5%;
    }
}
@media (max-width:300px)
{
    .cardInput{
        padding: 3px;
    }
    .cardinfo{
        padding: 15px 10px;
    }
}